//шрифты
$primary-font: "Alumni Sans", "arial", sans-serif;
$secondary-font: "Roboto Condensed", "arial", sans-serif;



//Размер экрана
$desktop-width: 1366px;
$tablet-width: 768px;
$mobile-width: 320px;

//цвета
$text-primary: #102654;
$text-accent: #103AAE;
$text-gradient1: #D10A42;
$text-gradient2: #0041CA;
$button-primary: #102654;
$button-additionally: #1C3374;
$button-gradient1: #ED0233;
$button-gradient2: #003EB7;
$button-tab: #D10A42;
$background-white-additionally: #F8F9FC;
$background-banner: #ED0233;
$background-dark: #102654;
$background-gradient1: #003D85;
$background-gradient2: #B80027;
$background-footer: #030A1A;
$background-blue-additionally: #030A1A;
$form-error: #FF121F;
$primary-white: #ffffff;
