$primary-font: "Alumni Sans", "arial", sans-serif;
$secondary-font: "Roboto Condensed", "arial", sans-serif;

$desktop-width: 1366px;
$tablet-width: 768px;
$mobile-width: 320px;

$text-primary: #102654;
$text-accent: #103aae;
$text-gradient1: #d10a42;
$text-gradient2: #0041ca;
$button-primary: #102654;
$button-additionally: #1c3374;
$button-gradient1: #ed0233;
$button-gradient2: #003eb7;
$button-tab: #d10a42;
$background-white-additionally: #f8f9fc;
$background-banner: #ed0233;
$background-dark: #102654;
$background-gradient1: #003d85;
$background-gradient2: #b80027;
$background-footer: #030a1a;
$background-blue-additionally: #030a1a;
$form-error: #ff121f;
$primary-white: #ffffff;
