.button {
  border: 2px solid $primary-white;
  text-decoration: none;
  color: $primary-white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  font-weight: 700;

}
