.footer {
  background-color: $background-footer;
}

.footer__wrapper {
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media (width >= $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 45px;
    flex-direction: row;
  }

  @media (width >= $desktop-width) {
    padding: 40px 103px;
    max-width: 1366px;
    margin: 0 auto;
  }
}

.footer__nav-list {
  @include list-none;

  display: flex;
  flex-flow: row wrap;
  gap: 10px 35px;

  @media (width >= $tablet-width) {
    gap: 30px;
  }

  @media (width >= $desktop-width) {
    gap: 82px;
  }
}

.footer__nav-link {
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  color: $primary-white;
  display: block;
  padding-block: 5px;
  transition: all 200ms ease;

  @media (width >= $tablet-width) {
    font-size: 14px;
    line-height: 22px;
    padding-block: 0;
  }

  &:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
  }

  &:active {
    text-decoration: none;
  }

  &:focus-visible {
    outline-color: $primary-white;
    outline-offset: 8px;
  }
}

.footer__nav-link--disabled {
  opacity: 0.3;
}

.footer__social {
  @include list-none;

  display: flex;
  flex-flow: row wrap;
  gap: 20px;

  @media (width >= $tablet-width) {
    gap: 15px;
  }

  @media (width >= $tablet-width) {
    gap: 15px;
  }
}

.footer__social-link {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: block;
  background-color: $primary-white;
  position: relative;
  transition: all 200ms ease;

  &::after {
    content: "";
    mask-repeat: no-repeat;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: $background-footer;
  }

  &:hover {
    background-color: #74819c;
  }

  &:hover::after {
    background-color: $primary-white;
  }

  &:focus-visible {
    background-color: $text-accent;
    outline-offset: 7px;
  }

  &:focus-visible::after {
    background-color: $primary-white;
  }

  &:active {
    background-color: $text-primary;
  }

  &:active::after {
    background-color: $primary-white;
  }
}

.footer__social-link--disabled {
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: none;

  &::after {
    background-color: $background-footer;
  }
}

.footer__social-link--vk::after {
  width: 13px;
  height: 13px;
  mask-image: url("../__spritemap#sprite-vk-view");
  mask-position: 0;
}

.footer__social-link--ok::after {
  width: 15px;
  height: 17px;
  mask-image: url("../__spritemap#sprite-odnoklassniki-view");
  mask-position: 0;
}

.footer__social-link--reddit::after {
  width: 15px;
  height: 15px;
  mask-image: url("../__spritemap#sprite-Reddit-view");
  mask-position: 0;
}
