.offers__wrapper {
  padding-block: 40px;
  padding-inline: 0;


  @media (min-width: $tablet-width) {
    padding: 60px 45px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px;
    width: 1366px;
  }
}

.offers__content-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 40px;
    flex-grow: 1;
  }
}

.offers__title {
  margin-bottom: 40px;
  font-family: $primary-font;
  font-size: 32px;
  line-height: 32px;
  color: $text-primary;
  font-weight: 600;
  margin-top: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
    font-size: 54px;
    line-height: 54px;
  }
}

.offers__year {
  margin-bottom: 40px;
  background-color: $background-banner;


  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 35px;
  }
}

.offers__year-text {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 30px;
  padding-bottom: 36px;
  color: $primary-white;
  text-align: center;


  @media (min-width: $tablet-width) {
    padding: 40px 25px;
    text-align: left;
    justify-content: space-between;
    padding-bottom: 46px;
    width: 278px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 45px;
    width: 280px;
    padding-bottom: 46px;
  }
}

.offers__year-text h3 {
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 9px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    gap: 20px;
  }
}

.offers__year-text span {
  font-size: 64px;

  @media (min-width: $tablet-width) {
    font-size: 70px;
  }
}

.offers__year-text p {
  font-size: 16px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    min-height: 168px;
  }

  @media (min-width: $desktop-width) {
    min-height: 160px;
  }
}

.offers__link {
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  color: $primary-white;
  text-transform: uppercase;
  text-underline-offset: 8px;
  align-self: center;
  width: 70px;
  transition: all 200ms ease;

  @media (min-width: $tablet-width) {
    align-self: start;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }

  &:focus-visible {
    outline-offset: 10px;
    text-decoration: none;
    outline-color: $primary-white;
  }
}

.offers__link--dark {
  color: $text-primary;

  &:focus-visible {
    outline-color: $text-primary;
  }
}

.offers__link--disabled {
  pointer-events: none;
  opacity: 0.3;
}

.offers__image {
  display: block;
  margin: 0 auto;
}

.offers__simple-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-inline: 15px;


  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 36px;
  }
}

.offers__simple {
  padding: 20px;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  border: 7px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);

  @media (min-width: $tablet-width) {
    text-align: left;
    width: 324px;
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
  }
}

.offers__simple h3 {
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  margin: 0;
  color: $text-primary;

  @media (min-width: $tablet-width) {
    font-size: 26px;
  }
}

.offers__simple p {
  margin: 0;
  color: $text-primary;

  @media (min-width: $tablet-width) {
    min-height: 68px;
  }

  @media (min-width: $desktop-width) {
    min-height: 54px;
  }
}
